<a href="#salta_ricerca" class="sr-only sr-only-focusable">Salta pannello ricerca</a>
<div id="barra_ricerca" class="well well-sm well-lispa-dark">
  <%= form_tag movements_path, :method => 'get', :class => 'form-inline', :role => 'form' do %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <%= label_tag 'anno', 'anno', {class: 'sr-only'} %>
            <%= select_tag "anno", options_for_select(((2014..@last_year).to_a.reverse), params[:anno]),
            {class: 'select optional form-control', :onchange => "this.form.submit()"} %>
          </div>
          <div class="form-group">
            <%= label_tag 'tipo_conto', 'tipo conto', {class: 'sr-only'} %>

            <%= check_box_tag "tipo_conto", params[:tipo_conto],
                if params[:tipo_conto]=="U" then true else false end,
                data: {:toggle => "toggle",
                       :on => "Spese",
                       :off => "Entrate",
                       :onstyle => "success",
                       :offstyle => "info"}
            %>

          </div>
          <div class="form-group">
            <%= label_tag 'livello', 'Livello:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= text_field_tag 'livello', params[:livello], type: 'text',
            "data-provide" => 'slider',
            "data-slider-ticks" => '[0, 1, 2, 3, 4, 5]',
            "data-slider-ticks-labels" => '["Tutti","1", "2", "3", "4", "5"]',
            "data-slider-min" => '0',
            "data-slider-max" => '5',
            "data-slider-step" => '1',
            "data-slider-value" => params[:livello],
            "data-slider-tooltip" => 'hide',
            onchange: 'this.form.submit()'
            %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1" data-toggle= "tooltip"  data-placement= "top"
                  title="La ricerca è collegata col livello del piano dei conti selezionato.
                         Selezionando 'Tutti' senza una parola di ricerca vengono visualizzati tutti i livelli del
                         piano dei conti valorizzati.
                  ">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <%= label_tag 'ricerca', 'ricerca', {class: 'sr-only'} %>
            <%= text_field_tag :ricerca, params[:ricerca], :class => "form-control", :placeholder => "Spese per / Entrate da ...", :type => "search" %>
            <span class="input-group-btn">
              <%= button_tag(:class => "btn btn-default", :type => 'submit', :name => 'search', :value => 'cerca') do  %>
                Cerca
              <% end %>
            </span>
          </div>

          <a class="btn btn-default btn-lg" id="link_arconet" data-toggle="tooltip" data-placement="top"
             title="Link al piano dei conti integrato unico e obbligatorio per tutte le amministrazioni pubbliche."
             href="http://www.rgs.mef.gov.it/VERSIONE-I/e-GOVERNME1/ARCONET/PianodeiContiIntegrato/"
             aria-label="link al sito Arconet" role="button">
             <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<span id="salta_ricerca"></span>
