<!DOCTYPE html>
<html lang="it">
<head>
  <title>Pubblicalo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'lomb_ver' %>
  <%= stylesheet_link_tag 'pubblicalo' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
   <%= render :partial => "layouts/barra_istituzionale" %>
<%= yield %>
   <%= render :partial => "layouts/footer" %></body>
</html>
